<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Waiter Webapp</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">

        <div class="topbar">
            <h2><a href="/">Waiter availability</a></h2>
        </div>

        <div id="main">
            {{{body}}}
        </div>
    </div>
    <script>
        function toggleRegistration(){
            let regForm = document.querySelector('.register-form');
            let toggleBtn = document.querySelector('.reg-toggle-btn');
            // hide/show registration form
            regForm.classList.toggle('hide');
            // Change button text
            toggleBtn.innerHTML = regForm.classList.length < 1 ? 
            'Register new user' : 'Hide register form';
        }
    </script>
</body>
</html>