
<div id="login">
    <form action="/sign-in/" method="post">
        <h3>Sign in</h3>
        <input type="text" name="username" id="username-input" placeholder="Enter your username">
        <input type="submit" value="sign in">
    </form>
</div>