<title></title>
<div class="message">{{message}}</div>
<div id="login">
    <form action="/register" method="post">
        <h3>Sign in</h3>
        <input type="text" name="username" id="username-input" placeholder="Enter your full name, e.g. Luvuyo Sono">
        <input type="text" name="username" id="username-input" placeholder="Enter your username, e.g. Deelowtrayne">
        <select type="text" name="username" id="username-input" placeholder="Position">
            <option value="">Choose Position</option>
            <option value="waiter">Waiter</option>
            <option value="admin">Admin</option>
        </select>
        <input type="submit" value="register">
    </form>
    Already have an account? <a class="blue-link" href="/">login here</a>
</div>