<span>Waiter shifts</span>

<table>
    <tr>
        <td><b>Username</b></td>
        <td><b>Shifts</b></td>
    </tr>
    {{#each shifts}}
    <tr>
        <td>{{username}}</td>
        <td>{{weekday}}</td>
    </tr>
    {{/each}}
</table>