<title>Dashboard</title>

<span>Waiter shifts</span>
<br><br>
    <span><a href="/waiter/{{username}}" >&larr; <small class="blue-link">Dashboard</small></a></span>
<br><br>
{{#each shifts}}
<div class="roster {{rowStyle}}">
    <div class="roster-head">
        {{weekday}}
    </div>
    <ul>
        {{#each waiters}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
{{/each}}
