<span>Waiter shifts</span>
<br><br>
    <span><a href="/waiter/" class="blue-link">&larr; <small>Dashboard</small></a></span>
<br><br>



{{!-- <table>
    <tr>
        <td><b>Shifts</b></td>
        <td><b>Waiters</b></td>
    </tr>
    {{#each shifts}}
    <tr>
        <td>{{weekday}}</td>
        <td class="{{rowStyle}}">{{waitersOnDuty}}</td>
    </tr>
    {{/each}}
</table> --}}